#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 80vh;
}

.pane {
  display: flex;
  gap: 32px;
}

.left-pane {
  width: 640px;
  overflow-y: scroll;
  border: 1px solid #222222;
}

.left-pane > ul {
  padding: 0;
}

.left-pane > ul > li {
  padding: 4px 0;
  list-style-type: none;
  gap: 8px;
  display: flex;
  justify-content: center;
}

.definition-text {
  text-align: left;
}

.right-pane {
  display: flex;
  flex-direction: column;
  width: 640px;
}
.right-pane > video {
  width: 100%;
}

.input-track-text {
  width: 320px;
}

.item-number {
  font-size: 18px;
  font-weight: bold;
}

.action-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin: 16px 0;
}

.action-buttons > button{
  width: 240px;
}